# DCR APIs

```diff
Fixed typos and formatting in multiple specification files (documentation)
```

This specification defines the APIs for Data Holders exposing Dynamic Client Registration endpoints.

```diff
- Removed OIDC Hybrid Flow requirements. This authentication flow is no longer supported
- Removed id_token_encrypted_response_alg and id_token_encrypted_response_enc
- Removed “code id_token” as an allowed response_type.
```

<table>
<tr><td><a href='./includes/swagger/cds_dcr.json'>DCR OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_dcr.yaml'>DCR OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
+ Added an additional qualification 'only' when describing where id_token_encrypted_response_alg and id_token_encrypted_response_enc are to be used for OIDC Hybrid Flow. After transition to retirement, these values shall not be supported.
```
<%= partial "includes/cds_dcr.md" %>
