
# Energy APIs


This specification defines the APIs for Data Holders exposing Energy endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Aligned description of response headers to be consistent with Banking APIs.

Added general note to Get Invoices for Account API clarifying `issueDate` will be used as effective date for filtering/ordering
```
<%= partial "includes/cds_energy.md" %>
